:root {
  --dark-grey: #6a6a90;
}

body {
  background-image: url(images/cash.jpg);
}

.cashGiven {
  display: none;
}

.main-section {
  background-color: var(--dark-grey);
  width: 50%;
  margin: auto;
  text-align: center;
  border-radius: 0.5rem;
  padding: 20px;
  height: 36rem;
}

.main-section p {
  color: var(--off-white);
  font-size: large;
  margin: 0 20px;
}

#next-btn {
  margin: 30px;
  background: yellow;
  border-radius: 1rem;
  height: 50px;
  width: 8rem;
}

#calc-btn {
  display: block;
  margin: 10px auto;
  background: yellow;
}

input {
  width: 20rem;
  padding: 4px 8px;
  height: 30px;
}

button {
  height: 30px;
  padding: 2px 4px;
  width: 5rem;
}

#cashTable table {
  margin: auto;
  width: 100%;
  margin-top: 20px;
}
